.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-inner{
    position: relative;
    padding: 3vmin;
    width: 100%;
    max-width: 75vw;
    background-color: white;
    overflow: scroll;
    max-height: 70vh;
    min-height: 40vh;
}
.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}
.close-btn{
/*TODO make close button look nicer*/
}
#icon{
    width: 5vw;
    height: auto;
}
#icon_sub{
    text-align: center;
    width:5vw;
}
#summoner_name{
    height: 5vw;
    line-height: 5vw;
}
.HomePopUp_Matches{
    justify-content: space-between;
    display: flex;
}
.HomePopUp_WinRate{
    max-width: 20vw;
}
.HomePopUp_MatchHistory{
    max-width: 55vw;
}