.home_height_popup{
    max-height: 70vh;
    min-height: 70vh;
}
#icon{
    width: 5vw;
    height: auto;
}
#icon_sub{
    text-align: center;
    width:5vw;
}
#summoner_name{
    height: 5vw;
    line-height: 5vw;
}
.HomePopUp_Matches{
    justify-content: space-between;
    display: flex;
}
.HomePopUp_WinRate{
    max-width: 20vw;
}
.HomePopUp_MatchHistory{
    max-width: 55vw;
}