:root{
    --game-width: 55vw;
    --game-height: 55vw;
}

.c100{
    border: blue .5vw solid;
}

.c200{
    border: red .5vw solid;
}

.games{
    margin-top: .5vh;
    padding: 10px;
    border-radius: 25px;
    display:flex;
    justify-content: space-between;
}

.map{
    width: 5vw;
    height: auto;
    border-radius: 10px;
}

.summoner{
    justify-content: start;
    right: 0;
    margin-right: 0;
    display: flex;
    padding-top: 3vh;
    width: 35vw;
}

.summoner_point{
    cursor: pointer;
}

.summoner_point:hover .sum{
    color: blue;
}

.sum_red, .sum_blue{
    padding-right: 0.75vw ;
    word-break: break-word;

}

.sum{
    line-height: 1.5vh;
    display: flex;
    padding-left: 1.5vw;
    height: 1vh;
    font-size: 1.5vh;
    align-items:center;
    text-align: left;
}

.img{
    width: 1.2vw;
    height: 1.2vw;
    margin-right: 1vw;
}

.champ_img{
    width: 7vh;
    height: auto;
    padding-top: 2vh;
}

.champ{
    padding-left: 4.5vw;
    padding-right: 4.5vw;
}

.match_title{
    width: 20vw;
}

.match_title p{
    text-align: left;
}

.stats{
    display: flex;
    justify-content: space-evenly;
}

.item{
    width: 5vh;
    padding-bottom: 0.25vh;
    padding-right: 0.25vh;
}

.stats_text{
    text-align: left;
    font-size: 1.5vh;
    padding-left: 0.5vw;
}

/* not good
.tk1{
    outline: .3vw blue solid;
    animation: triplekill infinite 2s;
    margin-top: .8vh;
    margin-bottom: .8vh;
}
@keyframes triplekill {
    0%{ border-color: blue;}
    50%{ border-color: red;}
    100%{ border-color: blue;}
}
.qk1{
    background: linear-gradient(180deg, rgba(131, 58, 180, 0.36) 0%, rgba(253, 29, 29, 0.36) 20%, rgba(252, 176, 69, 0.36) 100%); ;
}
.pk1{
    margin-top: calc(var(--game-width)*0.296127562642369 - 10px);
    margin-bottom:calc(var(--game-width)*0.2945205479452055 - 5px) ;
}
.pk1:after{
    position: absolute;
    content: '';
    width: var(--game-width);
    height: calc(var(--game-height) + ((var(--game-width))*0.2945205479452055 - 3%) +  (var(--game-width)*0.296127562642369 - .75%));
    pointer-events: none;
    background: url("./img/pk1_0.png") bottom no-repeat, url("./img/pk1_2.png") top no-repeat, url("./img/pk1_1.png");
    background-size: calc(var(--game-width) - 10%) calc((var(--game-width))*0.2945205479452055), var(--game-width) calc(var(--game-width)*0.296127562642369), var(--game-width) var(--game-height) ;
    transform: translate(-5%, -30%);
}*/

@media (max-width: 1100px){
    .sum {
        line-height: 1vh;
        height: 1vh;
        font-size: 1vh;
    }

    .stats_text{
        font-size: smaller;
        margin-left: 0;
    }

    .item{
        width: 3vw;
    }

    .img{
        width: 1.9vw;
        height: 1.9vw;
        margin-right: 1vw;
    }
}

@media(max-width: 900px){
    .item{
        display: none;
    }

}

@media (max-width: 800px) {
    .summoner {
        display: none;
    }

    .stats {
        display: none;
    }

    .kill {
        display: none;
    }

    .champ_img {
        width: 7vw;
        height: auto;
        padding-top: 2vh;

    }

    .champ {
        padding-right: 4vw;
    }

    .KDA {
        width: 7vw;
    }
}

@media(max-width: 700px){
    .map{
        display: none;
    }
    .games{
        outline: none;
        animation: none;
    }
}

@media(max-width: 500px){
   .date{
        display: none;
    }
    .champ_img{
        width: 10vw;
        padding-top: 0;
    }
    .KDA{
        position: absolute;
        display: flex;
        transform: translate(-24.75vw, -3vh);
    }
    .KDA strong{
        padding-right: 7px;
    }
}

@media(max-width: 450px){
    .KDA{
        display: none;
    }
}