.c100{
    border: blue .5vw solid;
}

.c200{
    border: red .5vw solid;
}

.games{
    margin-top: .5vh;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

.summoner{
    justify-content: end;
    right: 0;
    margin-right: 0;
    display: flex;
    padding-top: 3vh;
    width: 50vw;
}

.sum_red, .sum_blue{
    padding-right: 0.75vw ;
}

.sum{
    line-height: 1.5vh;
    display: flex;
    font-size: smaller;
    padding-left: 1.5vw;
    height: 1.5vh;
}

.img{
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
}
