.item_height_popup{
    max-height: 40vh;
    min-height: 40vh;
}

.pop_item_img{
    border-radius: 50%;
    margin: 5px;
}

.pop_item_main_div{
    display: flex;
    justify-content: space-between;
}

.pop_item_stats, .pop_item_stats p{
    text-align: left;
    width: 40vw;
}

.pop_item_img_build{
    border-radius: 50%;
    margin: 5px;
    width: 4vw;
    max-width: 46px;
}

.pop_item_build{
    padding-top: 15px;
}